<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='nlogcat'
        UpgradeCode='FF550E28-F7DD-4BAD-95F5-AE85E4DC461C'
        Manufacturer='secuworm'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Android logcat viewer for Windows'
            Manufacturer='secuworm'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='nlogcat Installation'/>

        <Icon Id='ProductICO' SourceFile='assets\icon.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='nlogcat'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='binary0' Guid='*'>
                        <File
                            Id='exe0'
                            Name='nlogcat.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\nlogcat.exe'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='StartMenuShortcutComp' Guid='*'>
                        <Shortcut
                            Id='StartMenuShortcut'
                            Directory='CommonProgramMenuFolder'
                            Name='nlogcat'
                            Description='Android logcat viewer'
                            Target='[APPLICATIONFOLDER]nlogcat.exe'
                            Icon='ProductICO'/>
                        <RegistryValue
                            Root='HKLM'
                            Key='Software\nlogcat'
                            Name='StartMenuShortcut'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='DesktopShortcutComp' Guid='*'>
                        <Shortcut
                            Id='DesktopShortcut'
                            Directory='CommonDesktopFolder'
                            Name='nlogcat'
                            Description='Android logcat viewer'
                            Target='[APPLICATIONFOLDER]nlogcat.exe'
                            Icon='ProductICO'/>
                        <RegistryValue
                            Root='HKLM'
                            Key='Software\nlogcat'
                            Name='DesktopShortcut'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>

                    <Directory Id='AssetsDir' Name='assets'>
                        <Directory Id='AssetsBinDir' Name='bin'>
                            <Component Id='C_idevice_id_exe'                  Guid='*'><File Id='idevice_id_exe'                  Source='assets\bin\idevice_id.exe'                  KeyPath='yes'/></Component>
                            <Component Id='C_idevicesyslog_exe'               Guid='*'><File Id='idevicesyslog_exe'               Source='assets\bin\idevicesyslog.exe'               KeyPath='yes'/></Component>
                            <Component Id='C_usbmuxd_exe'                     Guid='*'><File Id='usbmuxd_exe'                     Source='assets\bin\usbmuxd.exe'                     KeyPath='yes'/></Component>
                            <Component Id='C_usbmuxd_dll'                     Guid='*'><File Id='usbmuxd_dll'                     Source='assets\bin\usbmuxd.dll'                     KeyPath='yes'/></Component>
                            <Component Id='C_imobiledevice_dll'               Guid='*'><File Id='imobiledevice_dll'               Source='assets\bin\imobiledevice.dll'               KeyPath='yes'/></Component>
                            <Component Id='C_imobiledevice_net_lighthouse_dll' Guid='*'><File Id='imobiledevice_net_lighthouse_dll' Source='assets\bin\imobiledevice-net-lighthouse.dll' KeyPath='yes'/></Component>
                            <Component Id='C_plist_dll'                       Guid='*'><File Id='plist_dll'                       Source='assets\bin\plist.dll'                       KeyPath='yes'/></Component>
                            <Component Id='C_libcrypto_dll'                   Guid='*'><File Id='libcrypto_dll'                   Source='assets\bin\libcrypto-1_1-x64.dll'           KeyPath='yes'/></Component>
                            <Component Id='C_libssl_dll'                      Guid='*'><File Id='libssl_dll'                      Source='assets\bin\libssl-1_1-x64.dll'              KeyPath='yes'/></Component>
                            <Component Id='C_libusb_1_0_dll'                  Guid='*'><File Id='libusb_1_0_dll'                  Source='assets\bin\libusb-1.0.dll'                  KeyPath='yes'/></Component>
                            <Component Id='C_libusb0_dll'                     Guid='*'><File Id='libusb0_dll'                     Source='assets\bin\libusb0.dll'                     KeyPath='yes'/></Component>
                            <Component Id='C_libxml2_dll'                     Guid='*'><File Id='libxml2_dll'                     Source='assets\bin\libxml2.dll'                     KeyPath='yes'/></Component>
                            <Component Id='C_libcurl_dll'                     Guid='*'><File Id='libcurl_dll'                     Source='assets\bin\libcurl.dll'                     KeyPath='yes'/></Component>
                            <Component Id='C_iconv2_dll'                      Guid='*'><File Id='iconv2_dll'                      Source='assets\bin\iconv-2.dll'                     KeyPath='yes'/></Component>
                            <Component Id='C_zlib1_dll'                       Guid='*'><File Id='zlib1_dll'                       Source='assets\bin\zlib1.dll'                       KeyPath='yes'/></Component>
                            <Component Id='C_bz2_dll'                         Guid='*'><File Id='bz2_dll'                         Source='assets\bin\bz2.dll'                         KeyPath='yes'/></Component>
                            <Component Id='C_lzma_dll'                        Guid='*'><File Id='lzma_dll'                        Source='assets\bin\lzma.dll'                        KeyPath='yes'/></Component>
                            <Component Id='C_zip_dll'                         Guid='*'><File Id='zip_dll'                         Source='assets\bin\zip.dll'                         KeyPath='yes'/></Component>
                            <Component Id='C_pcre_dll'                        Guid='*'><File Id='pcre_dll'                        Source='assets\bin\pcre.dll'                        KeyPath='yes'/></Component>
                            <Component Id='C_pcreposix_dll'                   Guid='*'><File Id='pcreposix_dll'                   Source='assets\bin\pcreposix.dll'                   KeyPath='yes'/></Component>
                            <Component Id='C_readline_dll'                    Guid='*'><File Id='readline_dll'                    Source='assets\bin\readline.dll'                    KeyPath='yes'/></Component>
                            <Component Id='C_getopt_dll'                      Guid='*'><File Id='getopt_dll'                      Source='assets\bin\getopt.dll'                      KeyPath='yes'/></Component>
                            <Component Id='C_pthreadVC3_dll'                  Guid='*'><File Id='pthreadVC3_dll'                  Source='assets\bin\pthreadVC3.dll'                  KeyPath='yes'/></Component>
                            <Component Id='C_vcruntime140_dll'                Guid='*'><File Id='vcruntime140_dll'                Source='assets\bin\vcruntime140.dll'                KeyPath='yes'/></Component>
                            <Component Id='C_irecovery_dll'                   Guid='*'><File Id='irecovery_dll'                   Source='assets\bin\irecovery.dll'                   KeyPath='yes'/></Component>
                            <Component Id='C_irecovery_exe'                   Guid='*'><File Id='irecovery_exe'                   Source='assets\bin\irecovery.exe'                   KeyPath='yes'/></Component>
                            <Component Id='C_iproxy_exe'                      Guid='*'><File Id='iproxy_exe'                      Source='assets\bin\iproxy.exe'                      KeyPath='yes'/></Component>
                            <Component Id='C_ideviceactivation_dll'           Guid='*'><File Id='ideviceactivation_dll'           Source='assets\bin\ideviceactivation.dll'           KeyPath='yes'/></Component>
                            <Component Id='C_ideviceactivation_exe'           Guid='*'><File Id='ideviceactivation_exe'           Source='assets\bin\ideviceactivation.exe'           KeyPath='yes'/></Component>
                            <Component Id='C_idevicebackup_exe'               Guid='*'><File Id='idevicebackup_exe'               Source='assets\bin\idevicebackup.exe'               KeyPath='yes'/></Component>
                            <Component Id='C_idevicebackup2_exe'              Guid='*'><File Id='idevicebackup2_exe'              Source='assets\bin\idevicebackup2.exe'              KeyPath='yes'/></Component>
                            <Component Id='C_idevicecrashreport_exe'          Guid='*'><File Id='idevicecrashreport_exe'          Source='assets\bin\idevicecrashreport.exe'          KeyPath='yes'/></Component>
                            <Component Id='C_idevicedate_exe'                 Guid='*'><File Id='idevicedate_exe'                 Source='assets\bin\idevicedate.exe'                 KeyPath='yes'/></Component>
                            <Component Id='C_idevicedebug_exe'                Guid='*'><File Id='idevicedebug_exe'                Source='assets\bin\idevicedebug.exe'                KeyPath='yes'/></Component>
                            <Component Id='C_idevicedebugserverproxy_exe'     Guid='*'><File Id='idevicedebugserverproxy_exe'     Source='assets\bin\idevicedebugserverproxy.exe'     KeyPath='yes'/></Component>
                            <Component Id='C_idevicediagnostics_exe'          Guid='*'><File Id='idevicediagnostics_exe'          Source='assets\bin\idevicediagnostics.exe'          KeyPath='yes'/></Component>
                            <Component Id='C_ideviceenterrecovery_exe'        Guid='*'><File Id='ideviceenterrecovery_exe'        Source='assets\bin\ideviceenterrecovery.exe'        KeyPath='yes'/></Component>
                            <Component Id='C_ideviceimagemounter_exe'         Guid='*'><File Id='ideviceimagemounter_exe'         Source='assets\bin\ideviceimagemounter.exe'         KeyPath='yes'/></Component>
                            <Component Id='C_ideviceinfo_exe'                 Guid='*'><File Id='ideviceinfo_exe'                 Source='assets\bin\ideviceinfo.exe'                 KeyPath='yes'/></Component>
                            <Component Id='C_ideviceinstaller_exe'            Guid='*'><File Id='ideviceinstaller_exe'            Source='assets\bin\ideviceinstaller.exe'            KeyPath='yes'/></Component>
                            <Component Id='C_idevicename_exe'                 Guid='*'><File Id='idevicename_exe'                 Source='assets\bin\idevicename.exe'                 KeyPath='yes'/></Component>
                            <Component Id='C_idevicenotificationproxy_exe'    Guid='*'><File Id='idevicenotificationproxy_exe'    Source='assets\bin\idevicenotificationproxy.exe'    KeyPath='yes'/></Component>
                            <Component Id='C_idevicepair_exe'                 Guid='*'><File Id='idevicepair_exe'                 Source='assets\bin\idevicepair.exe'                 KeyPath='yes'/></Component>
                            <Component Id='C_ideviceprovision_exe'            Guid='*'><File Id='ideviceprovision_exe'            Source='assets\bin\ideviceprovision.exe'            KeyPath='yes'/></Component>
                            <Component Id='C_idevicerestore_exe'              Guid='*'><File Id='idevicerestore_exe'              Source='assets\bin\idevicerestore.exe'              KeyPath='yes'/></Component>
                            <Component Id='C_idevicescreenshot_exe'           Guid='*'><File Id='idevicescreenshot_exe'           Source='assets\bin\idevicescreenshot.exe'           KeyPath='yes'/></Component>
                            <Component Id='C_plistutil_exe'                   Guid='*'><File Id='plistutil_exe'                   Source='assets\bin\plistutil.exe'                   KeyPath='yes'/></Component>
                            <Component Id='C_ios_webkit_debug_proxy_exe'      Guid='*'><File Id='ios_webkit_debug_proxy_exe'      Source='assets\bin\ios_webkit_debug_proxy.exe'      KeyPath='yes'/></Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='CommonProgramMenuFolder' Name='Programs'/>
            <Directory Id='CommonDesktopFolder' Name='Desktop'/>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs nlogcat and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='C_idevice_id_exe'/>
            <ComponentRef Id='C_idevicesyslog_exe'/>
            <ComponentRef Id='C_usbmuxd_exe'/>
            <ComponentRef Id='C_usbmuxd_dll'/>
            <ComponentRef Id='C_imobiledevice_dll'/>
            <ComponentRef Id='C_imobiledevice_net_lighthouse_dll'/>
            <ComponentRef Id='C_plist_dll'/>
            <ComponentRef Id='C_libcrypto_dll'/>
            <ComponentRef Id='C_libssl_dll'/>
            <ComponentRef Id='C_libusb_1_0_dll'/>
            <ComponentRef Id='C_libusb0_dll'/>
            <ComponentRef Id='C_libxml2_dll'/>
            <ComponentRef Id='C_libcurl_dll'/>
            <ComponentRef Id='C_iconv2_dll'/>
            <ComponentRef Id='C_zlib1_dll'/>
            <ComponentRef Id='C_bz2_dll'/>
            <ComponentRef Id='C_lzma_dll'/>
            <ComponentRef Id='C_zip_dll'/>
            <ComponentRef Id='C_pcre_dll'/>
            <ComponentRef Id='C_pcreposix_dll'/>
            <ComponentRef Id='C_readline_dll'/>
            <ComponentRef Id='C_getopt_dll'/>
            <ComponentRef Id='C_pthreadVC3_dll'/>
            <ComponentRef Id='C_vcruntime140_dll'/>
            <ComponentRef Id='C_irecovery_dll'/>
            <ComponentRef Id='C_irecovery_exe'/>
            <ComponentRef Id='C_iproxy_exe'/>
            <ComponentRef Id='C_ideviceactivation_dll'/>
            <ComponentRef Id='C_ideviceactivation_exe'/>
            <ComponentRef Id='C_idevicebackup_exe'/>
            <ComponentRef Id='C_idevicebackup2_exe'/>
            <ComponentRef Id='C_idevicecrashreport_exe'/>
            <ComponentRef Id='C_idevicedate_exe'/>
            <ComponentRef Id='C_idevicedebug_exe'/>
            <ComponentRef Id='C_idevicedebugserverproxy_exe'/>
            <ComponentRef Id='C_idevicediagnostics_exe'/>
            <ComponentRef Id='C_ideviceenterrecovery_exe'/>
            <ComponentRef Id='C_ideviceimagemounter_exe'/>
            <ComponentRef Id='C_ideviceinfo_exe'/>
            <ComponentRef Id='C_ideviceinstaller_exe'/>
            <ComponentRef Id='C_idevicename_exe'/>
            <ComponentRef Id='C_idevicenotificationproxy_exe'/>
            <ComponentRef Id='C_idevicepair_exe'/>
            <ComponentRef Id='C_ideviceprovision_exe'/>
            <ComponentRef Id='C_idevicerestore_exe'/>
            <ComponentRef Id='C_idevicescreenshot_exe'/>
            <ComponentRef Id='C_plistutil_exe'/>
            <ComponentRef Id='C_ios_webkit_debug_proxy_exe'/>

            <Feature
                Id='StartMenuShortcutFeature'
                Title='Start Menu Shortcut'
                Description='Add a shortcut to nlogcat in the Start Menu (all users).'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='StartMenuShortcutComp'/>
            </Feature>

            <Feature
                Id='DesktopShortcutFeature'
                Title='Desktop Shortcut'
                Description='Add a shortcut to nlogcat on the Desktop (all users).'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='DesktopShortcutComp'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
